<nav class="sidebar-navigation">
	<ul>
		<li class="active">
            <a routerLink="/dashboard">
                <span>Home</span>
            </a>
		</li>
		<li>
            <a routerLink="/projects">
                <span>Projects</span>
            </a>
		</li>
		<li>
            <a routerLink="/employee">
                <span>Employees</span>
            </a>
		</li>
		<li>
            <a routerLink="/assignedProjects">
                <span>Assigned Projects</span>
            </a>
		</li>
		<li>
            <a routerLink="/teams">
                <span>Teams</span>
            </a>
		</li>
	</ul>
</nav>

<div class="dashboard-section">
    <router-outlet></router-outlet>
</div>