* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Lato", sans-serif;
    line-height: 1;
  }
  
  body {
    background-color: #F5F6F8;
    overflow: hidden;
  }
  
  .sidebar-navigation {
    display: inline-block;
    min-height: 100vh;
    /* width: 200px; */
    top: 0px;
    background-color: #313443;
    position: fixed;
    width: 20%;
  }
  .sidebar-navigation ul {
    text-align: left;
    color: white;
  }
  .sidebar-navigation ul li {
    cursor: pointer;
    transition: all ease-out 120ms;
  }
  .sidebar-navigation ul li i {
    display: block;
    font-size: 24px;
    transition: all ease 450ms;
  }
  .sidebar-navigation ul li:hover {
    background-color: #22252E;
  }
  .sidebar-navigation ul li:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  .sidebar-navigation ul li.active {
    background-color: #22252E;
  }
  .sidebar-navigation ul li.active i {
    color: #98D7EC;
  }

  .sidebar-navigation ul li a {
    color: #fff;
    padding: 28px 20px;
    text-decoration: none;
    display: block;
  }

  .dashboard-section {
    margin-left: 22%;
  }